*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: Norse;
  src: url(/Norse-Bold.otf);
}

body{
  display: grid;
  grid-template-columns: 0.7fr 1fr;
  font-family: 'Montserrat', sans-serif;
}

.user_data{
  display: grid;
  grid-template-columns: repeat(2, minmax(200px, .5fr));
  gap: 20px;
  height: 80%;
}

.left_column{
  background-image: url(/plant.jpg);
  background-size: cover;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.odin_logo{
  background-color: rgba(0, 0, 0, 0.4);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 10px;
  margin-top: 20%;
}

.odin_logo img{
  width: 15%;
}

.image_author{
  margin-top: auto;
  align-self: center;
  color: white;
  margin-bottom: 10px;
  text-shadow: 1px 1px 1px black;
}

.left_column a{
  color: white;
}

.left_column a:visited{
  color: white;
}

.odin_logo p{
  font-family: Norse, sans-serif;
  font-size: 6rem;
}


form{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.part_one,
.part_three{
  background-color: rgb(233, 233, 233);
}

.part_two{
  box-shadow: 0 10px 10px -10px rgba(0,0,0,0.3);
  padding: 10px;
  z-index: 1;
}

.part_one,
.part_two,
.part_three{
  flex: 1;
  padding-left: 3vw;
  padding-right: 10vw;
}

.part_one{
  font-weight: bold;
  font-size: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2em;
}

h2{
  font-size: 1.5rem;
  font-weight: 600;
  padding-bottom: 1em;
  padding-top: .2em;
}

label{
  display: block;
  font-size: .8rem;
  font-weight: 500;
  padding-bottom: 5px;
}

button{
  font-family: inherit;
  margin-top: 2em;
  margin-bottom: 2em;
  color: white;
  background-color: #596D48;
  border: none;
  font-weight: 600;
  padding: 10px 20px;
  border-radius: 5px;
}

.part_three a{
  color: #596D48;
  font-weight: 600;
}

.part_three a:visited{
  color: #596D48;
}

.part_three {
  font-size: .8rem;
  font-weight: 600;
}

input{
  border: 1px solid #E5E7EB;
  border-radius: 5px;
  line-height: 2.5;
  font-family: inherit;
  width: 100%;
}

input:focus{
  outline: none;
  border: 1px solid blue;
  box-shadow: 0 0 5px blue;
}

input:valid{
  border:2px solid #596D48;
}

#passwordCheck{
  font-size: .6rem;
  font-weight: 600;
  color: red;
  display: block;
  margin-top: 2px;
  visibility: hidden;
}